repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: check-executables-have-shebangs
    - id: check-yaml
    - id: end-of-file-fixer
      types: [python]
    - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
      - id: isort
        args:
          - --profile=black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
        args:
          - --ignore=E203,W503
          - --max-complexity=25
          - --max-line-length=88
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
  - repo: local
    hooks:
    - id: pytest-cov
      name: pytest
      language: system
      entry: pytest --cov=. --cov-report html --cov-report xml .
      types: [python]
      pass_filenames: false